<body> 
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
 <section class="form-container">
 
    <form (ngSubmit)="onSubmit()" method="post">
       <h3>login now</h3>
       <p>Your Username <span>*</span></p>
       <input type="username" name="username" placeholder="Enter your username" required maxlength="50" class="box">
       <p>Your Password <span>*</span></p>
       <input type="password" name="pass" placeholder="Enter your password" required maxlength="20" class="box">
       <input type="submit" value="Login" name="submit" class="btn">
    </form>
 
 </section>
 <app-footer></app-footer>
 </body>