<body> 
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
 <section class="form-container">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <h3>Login now</h3>
      <p>
        <label for="username">Your Username <span>*</span></label>
        <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Enter your username" required maxlength="50" class="box">
      </p>
      <p>
        <label for="password">Your Password <span>*</span></label>
        <input type="password" id="password" name="pass" [(ngModel)]="password" placeholder="Enter your password" required maxlength="20" class="box">
      </p>
      <button type="submit" class="btn">Login</button>
    </form>
 
 </section>
 <app-footer></app-footer>
 </body>