<body> 
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <section class="form-container">
        <form action="" method="post" enctype="multipart/form-data">
           <h3>register now</h3>
           <p>FullName <span>*</span></p>
           <input type="text" name="fullName" placeholder="Enter your fullName" required maxlength="50" class="box">
           <p>Username <span>*</span></p>
           <input type="text" name="username" placeholder="Enter your username" required maxlength="50" class="box">
           <p>Email <span>*</span></p>
           <input type="email" name="email" placeholder="Enter your email" required maxlength="50" class="box">
           <p>Password <span>*</span></p>
           <input type="password" name="pass" placeholder="Enter your password" required maxlength="20" class="box">
           <p>Age <span>*</span></p>
           <input type="number" name="age" placeholder="Enter your age" required maxlength="20" class="box">
           <p>Select Role <span>*</span></p>
           <select name="role" class="box">
                <option value="ADMIN">ADMIN</option>
                <option value="STUDENT">STUDENT</option>
                <option value="INSTRUCTOR">INSTRUCTOR</option>
           </select>
           <input type="submit" value="register new" name="submit" class="btn">
        </form>
     
     </section>
 <app-footer></app-footer>
 </body>