<body> 
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <section class="home-grid">
        <h1 class="heading">Welcome, Brice Ngantou</h1>
        <div class="box-container">
           <div class="box">
              <h3 class="title">Courses</h3>
              <p class="likes">Total courses : <span>125</span></p>
              <a href="courses" class="inline-btn">View courses</a>
           </div>
           <div class="box">
              <h3 class="title">Teachers</h3>
              <p class="likes">Total teachers : <span>135</span></p>
              <a href="teachers" class="inline-btn">Become a tutor</a>
           </div>
           <div class="box">
            <h3 class="title">My classes</h3>
            <p class="likes">all My classes : <span>35</span></p>
            <a href="teachers" class="inline-btn">Become a tutor</a>
         </div>
           <div class="box">
              <h3 class="title">Certificates delivered</h3>
              <p class="likes">Total certificates : <span>205</span></p>
              <a href="teachers" class="inline-btn">Get started</a>
           </div>
        </div>
     </section>
 <app-footer></app-footer>
 </body>