<div class="side-bar">
 
    <div id="close-btn">
       <i class="fas fa-times"></i>
    </div>
 
    <div class="profile">
       <img src="assets/images/pic-1.jpg" class="image" alt="">
       <h3 class="name">Brice Ngantou</h3>
       <p class="role">STUDENT</p>
       <a href="profile" class="btn">view profile</a>
    </div>
 
    <nav class="navbar">
       <a href="home"><i class="fas fa-home"></i><span>Home</span></a>
       <a href="courses"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
       <a href="teachers"><i class="fas fa-chalkboard-user"></i><span>Teachers</span></a>
       <a href="login"><i class="fas fa-right-to-bracket"></i><span>Login</span></a>
       <a href="register"><i class="fas fa-thin fa-user-plus"></i><span>Register</span></a>
    </nav>
 
 </div>